/* FORMATTING FOR FULL PAGE */

* {
    margin: 0;
    padding: 0px; 
    box-sizing: border-box;
    font-family: century gothic, sans-serif;
}

@font-face {
    font-family: 'ZH_zhuyin';
    src: url(Font/zhuyin.ttf);
}

::-webkit-scrollbar {
    display: none;
}

body {
    color: white;
    background-color: rgb(56, 56, 56);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.rainbow{
    z-index: -2;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 5px;
    width: 100vw;
    transition: all 0.4s ease-in-out;
}

/* FORMATTING FOR MENU */

.menu{
    display: grid;
    grid-template-columns: 200px min-content;
}

.to-be-changed {
	color: black;
}

input[type=checkbox]:checked ~ .to-be-changed {
	background: green;
    color: white;
}

input[type=checkbox] {
	position: absolute;
	display: none;
}

label {
	display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 2.5rem;
    text-align: center;
	background: white;
	padding: 5px;
    margin: 5px;
	border-radius: 50%;
	font-weight: bold;
    transition: color .2s ease-in-out;
}

.settings {
    height: 100vh;
    width: 240px;
    padding: 30px;
    overflow: none;
}

.side-wrapper{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
}

.options{
    width: -webkit-calc(100% - 240px);
    width:    -moz-calc(100% - 240px);
    width:         calc(100vw - 240px);
    max-height: 100vh !important;
    display: grid;
    padding: 15px;
    position: absolute;
    right: 0px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    overflow-y: auto;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 5px;
    font-size: 3rem;
}

button.taskBtn {
    display: flex;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: auto;
    text-align: center;
    color: lightslategray;
	background: rgb(38, 38, 38);
	padding: 5px;
    margin: 0px 20px;
	border-radius: 50%;
	font-weight: bold;
    user-select: none;
}


.selected-phonics {
    background-color: red;
    color: white;
}

.go {
    font-size: 6rem;
    height: 180px;
    width: 180px;
    clip-path: circle(50% at 50% 50%);
    transition: rotate 0.3s ease-in-out,
                clip-path 0.3s ease-in-out;
}

.go:hover {
    rotate: 360deg;
}

.checkbox {
    width: 30px;
    height: 30px;
}

/* FORMATTING FOR WORD QUEUE */

.letters {
    isolation: isolate;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 16rem;
    line-height: 50vh;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 2px black;
    text-shadow: black 0 0 50px;
    white-space: nowrap;
    /*mix-blend-mode: difference;*/
}

span {
    transition: all 0.4s ease;
    opacity: .5;
    color: white;
    display: inline-block;
    user-select: none;
    /*filter: blur(5px);*/
}

.bigger {
    /*transform: translateY(-50px) rotate(-45deg);*/
    font-size: 20rem;
    opacity: 1;
    filter: blur(0px);
}

.spin{
    rotate: 360deg;
}

.letters-when-reveal-pic {
    color: #fff;
    mix-blend-mode: difference;
}

.chinese-wrap{
    left: 85%;
    top: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
    text-align: middle;
    position: absolute;
    z-index: -1;
    opacity: 1;
    background: rgb(201, 201, 201);
    border-radius: 50px;
    padding: 40px;
    transition: all 0.4s ease;
}

.chinese {
    color: black;
    writing-mode: vertical-rl;
    font-size: 15vh;
    font-family: ZH_zhuyin;
    white-space: nowrap;
}

@-moz-document url-prefix() {
    .chinese {
        letter-spacing: -8vh;
    }
  }

.actions {
    justify-content: center;
    display: flex;
}

.btnNest {
    position: absolute;
    display: flex;
    bottom: 10%;
}

.image {
    z-index: -1;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.clear{
    opacity: 0;
    filter: blur(5px);
}

.disappear{
    clip-path: circle(0px at 50% 50%);
    /*filter: brightness(0);*/
}

.hide {
    display: none;
}