/* FORMATTING FOR FULL PAGE */

* {
    margin: 0;
    padding: 0px; 
    box-sizing: border-box;
    font-family: century gothic, sans-serif;
}

@font-face {
    font-family: 'ZH_zhuyin';
    src: url(Font/zhuyin.ttf);
}

::-webkit-scrollbar {
    display: none;
}

body {

    background-color: rgb(56, 56, 56);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.rainbow{
    z-index: -2;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 5px;
    width: 100vw;
    transition: all 0.4s ease-in-out;
}

/* FORMATTING FOR LAYERS */

.layer {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.menu-layer{
    display: grid;
    grid-template-columns: 200px min-content;
}

input[type=checkbox]:checked ~ .to-be-changed {
	background: green;
    color: white;
}

input[type=checkbox] {
	position: absolute;
	display: none;
}

label {
	display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 2.5rem;
    text-align: center;
	background: white;
	padding: 5px;
    margin: 5px;
	border-radius: 50%;
	font-weight: bold;
    transition: color .2s ease-in-out;
}

.settings {
    height: 100vh;
    width: 240px;
    padding: 30px;
    overflow: none;
}

.side-wrapper{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
}

.option-grid {
    width: -webkit-calc(100% - 240px);
    width:    -moz-calc(100% - 240px);
    width:         calc(100vw - 240px);
    max-height: 100vh !important;
    display: grid;
    padding: 15px;
    position: absolute;
    right: 0px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    overflow-y: auto;
}

.one-option {
    border-radius: 5px;
    border: 0px;
}

button {
    padding: 10px;
    margin: 3px;
    font-size: 3rem;
}

button.taskBtn {
    display: flex;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: auto;
    text-align: center;
    color: lightslategray;
	background: rgb(38, 38, 38);
	padding: 5px;
    margin: 0px 20px;
	border-radius: 50%;
	font-weight: bold;
    user-select: none;
}


.selected-phonics {
    background-color: red;
    color: white;
}

.go {
    font-size: 6rem;
    height: 180px;
    width: 180px;
    clip-path: circle(50% at 50% 50%);
    transition: rotate 0.3s ease-in-out,
                clip-path 0.3s ease-in-out;
}

.go:hover {
    rotate: 360deg;
}

.checkbox {
    width: 30px;
    height: 30px;
}

/* FORMATTING FOR WORD QUEUE */

.letters {
    isolation: isolate;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 16rem;
    line-height: 50vh;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 2px black;
    text-shadow: black 0 0 50px;
    white-space: nowrap;
    /*mix-blend-mode: difference;*/
}

span {
    transition: all 0.4s ease;
    display: inline-block;
    user-select: none;
    /*filter: blur(5px);*/
}

.unselected {
    color: white;
    opacity: .5;
}

.bigger {
    /*transform: translateY(-50px) rotate(-45deg);*/
    font-size: 20rem;
    opacity: 1;
    filter: blur(0px);
}

.spin{
    rotate: 360deg;
}

.letters-when-reveal-pic {
    color: #fff;
    mix-blend-mode: difference;
}

.translate-wrap{
    left: 85%;
    top: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
    text-align: middle;
    position: absolute;
    z-index: -1;
    opacity: 1;
    background: rgb(201, 201, 201);
    border-radius: 50px;
    padding: 40px;
    transition: all 0.4s ease;
}

.translations {
    color: black;
    writing-mode: vertical-rl;
    font-size: 15vh;
    white-space: nowrap;
}

ruby {
    ruby-align: center;
}

ruby.grades {
    ruby-position: under;
}

rt {
    font-size: 2.5vh;
    font-weight: bold;
}

.actions {
    justify-content: center;
    display: flex;
}

.btnNest {
    position: absolute;
    display: flex;
    bottom: 10%;
}

.image {
    z-index: -1;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.clear{
    opacity: 0;
    filter: blur(5px);
}

.disappear{
    clip-path: circle(0px at 50% 50%);
    /*filter: brightness(0);*/
}

.quiz-layer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    z-index: 1;
    display: flex;
}

.quiz-display {
    height: 75vh;
    margin: auto;
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: min(50vw, 50vh)
}

.quiz-menu {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column
}

.quiz-btn {
    flex: 1;
    font-size: 15vh;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
}

.quiz-img {
    object-fit: contain;
    width: 50vh;
    height: 50vh;
}

.speak-btn {
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
}

.speak-btn > img {
    width: 80%;
    opacity: 80%;
}

.a {
    background-color: maroon;
}

.b {
    background-color: darkorange;
}

.c {
    background-color: darkgreen;
}

.d {
    background-color: navy;
}

.grayed-out {
    background-color: gray;
    color: rgb(148, 148, 148);
}

.fixed-grid {
    width: 700px;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 1px;
    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    margin: 5px;
}

.one-cell {
    border-radius: 5px;
    height: 100%;
}

.q-correct {
    background-color: limegreen;
}

.q-close {
    background-color: yellow;
}

.q-partial {
    background: orange;
}

.q-incorrect {
    background: red;
}

.grade-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    font-size: 12vh;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.upper-grade {
    grid-column: span 2;
}
.lower-grade {
    grid-column: span 3;
}

.hide {
    display: none;
}
